*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
}
nav, ul{
    width: 50em;
}
.container{
    margin: 1em;
    color: white;
    font-family: Bookman Old Style;
    font-style: italic;
    /* overflow: hidden; */
}
/* ESTILOS PARA EL NAV  */

.head{
    display: block;
    background: #454aa6;
    width: 115.5em;
    height: 15em;

}

.main-title{
    position: absolute;
    display: inline-block;
    margin-left: .2em;
    top: .4em;
    font-size: 8em;

}

.navegation{
    position: relative;
    left: 40em;
    top:6em ;
}

.navegation ul{
    list-style: none;
    font-size:1.5em;

}

.search-container{
    position: relative;
    top:.9em;
    display: inline-block;
    background-color:#585dc2;
    overflow: hidden;
    width: 16em;
    height:2.2em;
    border-radius: 2em;
    
}

.search-container input{
    display: inline-block;
    background-color: #585dc2;
    counter-reset:none;
    height: 3em;
    width: 20em;
    border: 0;
    outline: 0;
    color: white;
    font-size: .7em;
    padding-left: 1em;
    
}

.search-container input::placeholder{
    color: white;
}

.search-container button{
    position: relative; 
    top: .2em;
    left: auto;
    right: auto;
    bottom: auto;
    font-size: 1em;
    background-color: #585dc2;
    outline: 0;
    border: 0;
}

.search-container button:hover{
    color: rgb(67, 139, 207);
}

.search-container input::-webkit-search-cancel-button{
    display:none;
}


.navegation ul li {
    display: inline-block;
    margin-left: 2em;
}
/* Estilos para el cuerpo */

.article{
    background:  #454aa6;
    margin: .7em 0 ;
    
    width: 115.5em;
    height: 41em;


}

.create-task{
    display: inline-block;
    margin: 2em;
}

.create-task a{
    font-size: 1.3em;
}

.subtitle{
    display:block;  
    text-align: center;
    font-size: 2em;
}

.article div{
    color: black;
    display: inline-block;
    width: fit-content;
    background: white;
    margin-top: 4em;
   margin-left: 10em;
    width: 25em;
    height: 25em;
    padding: 4em;
    overflow: hidden;
}

.task-one h3, .task-two h3, .task-three h3{
    display: block;
    position: relative;
    top: auto;
    text-align: center;
   height: 13em;
    overflow:hidden ;
} 

.task-one h3:hover, .task-two h3:hover, .task-three h3:hover{
  
}

.task-hover{
    background: black;
    opacity: 0;
    position: relative;
    top: -23.2em;
    left: -14em;
    text-align: center;
    
}

.task-hover:hover{
    opacity: 1;
 background: rgba(58, 56, 56, 0.842);
 
}

.article button{
    margin-top:3.2em ;
    background: none;   
    color:white ; 
    font-size: 200%;
    font-family: Bookman Old Style;
    font-style: italic;
    border: 0;
    
}



