*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
}
nav, ul{
    width: 50em;
}
.container{
    margin: 1em;
    color: white;
    font-family: Bookman Old Style;
    font-style: italic;
    /* overflow: hidden; */
}
/* ESTILOS PARA EL NAV  */

.head{
    display: block;
    background: #454aa6;
    width: 115.5em;
    height: 10em;

}

.main-title{
    position: absolute;
    display: inline-block;
    margin-left: .5em;
    top: .5em;
    font-size: 5em;

}

.navegation{
    position: relative;
    left: 40em;
    top:2em ;
}

.navegation ul{
    list-style: none;
    font-size:1.5em;

}

.search-container{
    position: relative;
    top:.9em;
    display: inline-block;
    background-color:#585dc2;
    overflow: hidden;
    width: 16em;
    height:2.2em;
    border-radius: 2em;
    
}

.search-container input{
    display: inline-block;
    background-color: #585dc2;
    counter-reset:none;
    height: 3em;
    width: 20em;
    border: 0;
    outline: 0;
    color: white;
    font-size: .7em;
    padding-left: 1em;
    
}

.search-container input::placeholder{
    color: white;
}

.search-container button{
    position: relative; 
    top: .2em;
    left: auto;
    right: auto;
    bottom: auto;
    font-size: 1em;
    background-color: #585dc2;
    outline: 0;
    border: 0;
}

.search-container button:hover{
    color: rgb(67, 139, 207);
}

.search-container input::-webkit-search-cancel-button{
    display:none;
}


.navegation ul li {
    display: inline-block;
    margin-left: 2em;
}

.article{
    background:  #454aa6;
    margin: .7em 0 ;
    width: 115.5em;
    height: 46.5em;


}

/* ESTILOS PARA TASK HTML */
/* IMPORTANTE */

.section-task{
    position: relative;
    top: 2em;
    left: 28em;
    background:#585dc2 ;
    width: 60em;
    height: 43em;
    border-radius: 2em;
    align-items: center;
}

.form-task{
    border: 2px solid black;
}
.input-name{
 background-color: white ;   
 outline: 0;
 border: 0;
 width: 30em;
 height: 5em;
}
